<p><%= event.name %></p>
<p><%= event.task %></p>
<p><%= user %></p>
<a href="/task/<%= event._id %>/new"><button>New Task</button></a>
<a href="/task/<%= event._id %>/edit"><button>Edit Task</button></a>