
    <form id="form" action="/event/new" method="POST">
        <input id="lat" name="lat" placeholder="Latitude" style="visibility:hidden">
        <input id="lon" name="log" placeholder="Longitude" style="visibility:hidden">
        
            <div class="form-group">
              <label for="name">Nombre</label>
              <input type="text" class="form-control" value="<%= event.name %>" placeholder="<%= event.name %>">
            </div>
            <div class="form-group">
              <label for="description">Descripción</label>
              <input type="text" class="form-control" value="<%= event.description %>" placeholder="<%= event.description %>">
            </div>
            <div class="form-group">
              <label for="city">Ciudad</label>
              <input type="text" class="form-control" value="<%= event.city %>" placeholder="<%= event.city %>">
            </div>
            
            <button type="submit" class="btn btn-success"> Evento</button>
          </form>
      <br>
      <input id="pac-input" class="controls" type="text" placeholder="Enter a location">
      <div class="form-group">
      <div id="map"></div>
      </div>
  </div>

</form>




<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCE3wzxrBK16zMljFyGq294DTotwbl85TY&libraries=places"></script>
<script type="text/javascript" src="/javascript/map.js"></script>