<h1>Mis Eventos</h1>



<% myevent.forEach((e) => { %>

    <p><%= e.name %></p>
    <p><%= e.description %></p>
    <p><%= e.location %></p>
    <p><%= e.task %></p><button>borrar</button>
 
    <a href="/event/show/<%= e._id %>/edit"><button>Editar Evento</button></a>
    <a href="/event/show/<%= e._id %>/delete"><button>Borrar Evento</button></a>
    <a href="/event/show/<%= e._id %>/detail"><button>Ir a tareas de evento</button></a>
    
    <hr>
<% }) %>

<a href="/event/show" class="btn btn-default btn-lg" role="button">Eventos</a>
<a href="/event/new" class="btn btn-default btn-lg" role="button">Crear Evento</a>