<h1>Mis Eventos</h1>

<% myevent.forEach((e) => { %>
    <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Tarea: <%= e.name %></h3>
            </div>
            <div class="panel-body">
                Nombre del evento:
    <p><%= e.name %></p>
    Descripción del evento:
    <p><%= e.description %></p>
    Localización del evento:
    <p><%= e.location %></p>
    Tareas del evento:
    <p><%= e.task %></p><button>borrar</button>
 
    <a href="/event/show/<%= e._id %>/edit"><button>Editar Evento</button></a>
    <a href="/event/show/<%= e._id %>/delete"><button>Borrar Evento</button></a>
    <a href="/event/show/<%= e._id %>/detail"><button>Ir a tareas de evento</button></a>
</div>
</div>
    
<% }) %>


<a href="/event/show" class="btn btn-primary">Eventos</a>
<a href="/event/new" class="btn btn-default">Crear Evento</a>

